/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(13, 13, 13);
}

/* Navbar styles */
#nav-menu {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#nav-menu ul {
    list-style:circle;
    display: flex;
    justify-content: center;
}



#nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

#nav-menu a:hover {
    background-color: #979797;
}

/* Common section styles */
.section {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Home section styles */
#home {
    margin-left: 50px;
    text-align: center;
    width: 300px;
    position: absolute;
}

.home-img {
    width: 250px;
    height: 280px;
    display: block;
    border-radius: 30px;
    padding: 10px;
}

/* About section styles */
#about {
    height: 202px;
    position: relative;
    padding: 50px;
    width: 60%;
    margin: auto;
    margin-left: 350px;
    text-align: center;
    filter: grayscale(100%) contrast(120%);

    background-image: url('bgabout.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-size: 20px;



}

#g{
    font-size:50px;
    font-style: italic;
  }



#resume-button-1 {
  --b: 3px;  
  --s: .45em; 
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#resume-button-1:hover,
#resume-button-1:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#resume-button-1:active {
  background: var(--color);
  color: #fff;
}


#resume-button-2 {

    margin-bottom: 30px;

    --b: 3px;  
    --s: .45em; 
    --color: #858585;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #resume-button-2:hover,
  #resume-button-2:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  #resume-button-2:active {
    background: var(--color);
    color: #fff;
  }
  




/* Skills section styles */
#skills {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 150px;
}

.skills-card {
    text-align: center;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    width: calc(13.33% - 20px);
    margin-right: 20px;
    color: white;
    transition: 5s;
    filter: grayscale(50%);
}

.skills-card:hover {
    background-color: #959494;
    transition: 0.7s;
    border: 2px solid white;
    filter: contrast(120%);
}

h2 {
    text-align: center;
    color: #959595;
    background-color: #686868;
    padding-left: 20px;
}

.skills-card-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* Projects section styles */
#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
    margin: auto;
}

#projects img {
    padding: 20px;
    align-self: center;
    width: 400px;
    border-radius: 40px;
    
}

.project-card {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(199, 199, 199);



}



.project-card:hover {
    background-color: rgba(213, 213, 213, 0.29);
    color: rgb(186, 186, 186);
    box-shadow: 0 4px 7px rgba(2, 0, 0, 1.5);
    transition: 0.3s;

}

.project-card img {
    filter: blur(2px);
    }
.project-card:hover img {
filter: blur(0px);
}

.project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {
    font-size: 18px;
}


.project-tech-stack {
    font-size: 16px;
    margin-top: 10px;
}


.project-github-link,
.project-deployed-link {
    display: block;
    margin-top: 10px;
    color: #007BFF;
}

/* Contact section styles */
#contact {
    padding: 50px;
    background-color: #373737;
    box-shadow: 0 5px 4px rgba(0, 0, 0.3, 0.5);
    text-align: center;
    color: white;
}

#contact-github,
#contact-linkedin {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
}

/* Resume button styles */
.resume-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
}


#resume{
text-align: center;
}

.github-stats {
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.react-activity-calendar{
    display: flex;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#nav-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#p{
    display: flex;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: none; 
    color: white;
}

@media screen and (max-width: 820px) {
    .hamburger {
        display: block;
        position: sticky;
        top: 0px;
        z-index: 10001;
        text-align: center;
    }
    #p{
        display: block;
    }
    #nav-menu{
        background-color: rgb(13, 13, 13);
    }

    #nav-menu ul {
        display: none; 
        flex-direction: column;
        position: relative;
        right: 0;
        background-color: #333;
        width: 30%;
        opacity: 60%;
        margin: auto;
        border-radius: 10px;
        position: sticky;

    }

    #nav-menu ul.active {
        display: flex; 
        margin-top: -10px;
        margin-bottom: 10px;

    }

    #nav-menu ul li {
        text-align: right;
        height: 20px;
    }

    #nav-menu .hamburger.active {
        color: #fff;
    }


 

    #skills {
        display:flex;
        margin: auto;
    }

    .skills-card {
        margin: auto;
        width: 10%;
        margin-top: 10px;
    }
    
    .section {
        width: 90%;
    }

    #projects {
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        padding: 5px;
    }

    #projects img {
        width: 90%;
    }

    .home-img {
        display: none;
    }

    .resume-button {
        width: 100%;
    }

    .react-activity-calendar{
        display: block;
        margin: auto;
        text-align: center;
        width: 90%;
    }

    .react-activity-calendar img{
        margin: auto;
        width: 90%;
    }
}

#about{
    display: block;
    position: relative;
    margin: auto;

}

#home{
   position: relative;
   margin: auto;
   
}

@media screen and (max-width: 480px) {
    #about {
        height: auto;
    }

 


    #skills {
        display:block;
        margin: auto;
        margin-bottom: 800px;
    }

    .skills-card {
        margin: auto;
        width: 80%;
        margin-top: 10px;
    }
    
}


@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "F"; }
    2.2791%, 25.0698% { content: "Fu"; }
    3.4186%, 23.9302% { content: "Ful"; }
    4.5581%, 22.7907% { content: "Full"; }
    5.6977%, 21.6512% { content: "Fulls"; }
    6.8372%, 20.5116% { content: "Fullst"; }
    7.9767%, 19.3721% { content: "Fullsta"; }
    9.1163%, 18.2326% { content: "Fullstac"; }
    10.2558%, 17.0930% { content: "Fullstack"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "J    "; } 
    33.0465%, 49.0000% { content: "JA   "; }
    34.1860%, 47.8605% { content: "JAV  "; }
    35.3256%, 46.7209% { content: "JAVA "; }
    36.4651%, 45.5814% { content: "JAVA  "; }
    37.6047%, 44.4419% { content: "JAVA   "; }
  
  
    78.6279%, 96.8605% { content: ""; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
  
    @keyframes sequencePopup {
      0%, 100% { content: "Fullstack"; }
      25% { content: "JAVA    "; } 
 
    }
  
    .typewriter::before {
      content: "fullstack";
      animation: sequencePopup 12s linear infinite;
    }
  }
  




  
  .photo {
    position: relative;
    display: block;
margin-top: -20px;}

.photo img {
    width: 250px;
    height: 330px;
    object-fit: cover;
    filter: grayscale(10%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: auto;
}

.photo:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
}

.photo .glow-wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.photo .glow {
    display: block;
    position: absolute;
    width: 40%;
    height: 200%;
    background: rgba(255, 255, 255, .2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: glowAnimation 3s infinite alternate; 
}

@keyframes glowAnimation {
    to {
        transform: rotate(45deg) translate(450%, 0);
    }
}

.photo:hover .glow {
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.waviy {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.waviy span {
    font-family: "Lucida Handwriting";
    position: relative;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    animation: flip 12s cubic-bezier(0.4, 0, 0.6, 1) infinite; 
    animation-delay: calc(.2s * var(--i));
}

@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg);
    }
}


