/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
#nav-menu {
  background-color: #333;
  padding: 10px;
}

#nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#nav-menu li {
  margin-right: 20px;
}

#nav-menu a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
}

#nav-menu a:hover {
  background-color: #555;
}

/* Home section styles */
#home {
  text-align: center;
  padding: 50px 0;
}

.home-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* About section styles */
#about {
  padding: 50px;
  width: 60%;
  display: block;
  margin: auto;
  text-align: center;
}

/* Skills section styles */
#skills {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.skills-card {
  text-align: center;
  margin-bottom: 20px;
}

.skills-card-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Projects section styles */
#projects {
  padding: 50px;
}

.project-card {
  text-align: center;
  margin-bottom: 40px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
}

.project-tech-stack {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.project-github-link,
.project-deployed-link {
  display: block;
  margin-top: 10px;
  color: #007BFF;
}

/* Contact section styles */
#contact {
  padding: 50px;
}

#contact-github,
#contact-linkedin {
  display: block;
  margin-bottom: 10px;
  color: #007BFF;
}

/* Resume button styles */
#resume-button-1,
#resume-button-2 {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

/* GitHub statistics images styles */
#github-streak-stats,
#github-top-langs,
#github-stats-card {
  display: block;
  margin: 20px auto;
  max-width: 400px;
}

/* GitHub calendar styles */


/* Responsive styles */
@media (max-width: 768px) {
  /* Add responsive styles here */
}
