/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Navbar styles */
  #nav-menu {
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  #nav-menu li {
    margin-right: 20px;
  }
  
  #nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  #nav-menu a:hover {
    background-color: #555;
  }
  
  /* Home section styles */
  #home {
    text-align: center;
    padding: 50px 0;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .home-img {
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* About section styles */
  #about {
    padding: 50px;
    width: 60%;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Skills section styles */
  #skills {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .skills-card {
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .skills-card-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  /* Projects section styles */
  #projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 50px;
    background-color: #e0dbdb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #projects img {
    padding: 20px;
    align-self: center;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .project-card {
    text-align: center;
    margin-bottom: 40px;
    background-color: #f7f6f6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
  }
  
  .project-tech-stack {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
  }
  
  .project-github-link,
  .project-deployed-link {
    display: block;
    margin-top: 10px;
    color: #007BFF;
  }
  
  /* Contact section styles */
  #contact {
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 4px rgba(0, 0, 0.3, 0.5);
    text-align: center;

  }
  
  #contact-github,
  #contact-linkedin {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
  }
  
  /* Resume button styles */
  #resume-button-1,
  #resume-button-2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
  }
  
  #github-streak-stats,
  #github-top-langs,
  #github-stats-card {
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .react-activity-calendar{
    display: flex;
  }
  


  
  
